.container {
    padding: 16px;
}

.card {
    border-radius: 12px;
    background-color: var(--app-section-bg-color);
    padding-top: 4px;
    padding-bottom: 4px;
}

.card:has(+ .card) {
    margin-bottom: 16px;
}

.space {
    height: 16px;
}

.sectionTitle {
    color: var(--app-text-color);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sectionTitleIcon {
    font-size: 16px;
}
