.container {
    padding: 16px;
}

.sectionTitle {
    color: var(--app-text-color);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
}
